if SHIELD_PACANE_CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne Pacane"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PACANE_CORNE_LEFT || SHIELD_PACANE_CORNE_RIGHT

config ZMK_SPLIT
    default y

endif
